package ${basePackageName};

import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;
import reactor.core.publisher.Flux;
import reactor.core.publisher.Mono;

import javax.annotation.Nullable;

/**
 * ${comment}服务接口
 *
 * @author xiayx
 */
public interface ${ModuleName}Service {

    /** 新增 */
    Mono<${ModuleName}VO> add(${ModuleName}Add params);

    /** 分页查询 */
    Mono<Page<${ModuleName}VO>> query(@Nullable ${ModuleName}Query params, @Nullable Pageable pageable, String... projection);

    /** 全量查询 */
    Flux<${ModuleName}VO> query(${ModuleName}Query params, @Nullable Sort sort, String... projection);

    /** 全量查询 */
    default Flux<${ModuleName}VO> query(${ModuleName}Query params, String... projection) {
        return this.query(params, (Sort) null, projection);
    }

    /** 获取 */
    Mono<${ModuleName}VO> get(${ModuleName}Get params, String... projection);

    /** 修改 */
    Mono<Integer> modify(${ModuleName}Modify params);

    /** 删除 */
    Mono<Integer> delete(${ModuleName}Delete params);

}
