package ${basePackageName};

import com.github.peacetrue.core.CreatorId;
import com.github.peacetrue.core.Id;
import com.github.peacetrue.core.OperatorImpl;
import lombok.*;
import javax.validation.constraints.Min;
import javax.validation.constraints.NotNull;
import javax.validation.constraints.Size;

#listImport($properties)

/**
 * @author peace
 */
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@ToString(callSuper = true)
public class ${ModuleName}Modify extends OperatorImpl<$creatorId.type.simpleName> implements Id<$id.type.simpleName>, CreatorId<$creatorId.type.simpleName> {

    private static final long serialVersionUID = 0L;

    #foreach($property in $nonAuditProperties)
        /** $property.comment */
        #if($property==$id)
            @NotNull
        #end
        #if($property.type.simpleName=='String')
            @Size(min = 1, max = $property.size)
        #elseif($property.type.superclass.simpleName=='Number')
            @Min(1)
        #end
        private $property.type.simpleName $property.name;
    #end
    /** 创建者. 主键 */
    @Min(1)
    private $creatorId.type.simpleName ${creatorId.name};

}
