package ${basePackageName};

import com.github.peacetrue.core.IdCapable;
import com.github.peacetrue.core.OperatorCapableImpl;
import lombok.*;
import javax.validation.constraints.NotNull;
import javax.validation.constraints.Size;

#listImport($properties)



/**
 * @author xiayx
 */
@Getter
@Setter
@ToString
@NoArgsConstructor
@AllArgsConstructor
public class ${ModuleName}Modify extends OperatorCapableImpl<$creatorId.type.simpleName> implements IdCapable<$id.type.simpleName> {

    private static final long serialVersionUID = 0L;

    #foreach($property in $nonAuditProperties)
        /** $property.comment */
        #if($property==$id)
            @NotNull
        #end
        #if($property.type.simpleName=='String')
            @Size(min = 1, max = $property.size)
        #end
        private $property.type.simpleName $property.name;
    #end

}
