package ${basePackageName};

import com.github.peacetrue.core.Id;
import lombok.Data;

import java.io.Serializable;
import java.util.Date;

#listImport($properties)
/**
 * @author peace
 */
@Data
public class ${ModuleName}VO implements Serializable, Id<$id.type.simpleName> {

    private static final long serialVersionUID = 0L;

    #foreach($property in $nonIdAuditProperties)
    private static final String PROPERTY_${lc.uu($property.name)}="${property.name}",
    #end

    #listProperties($properties)
}
