package ${basePackageName};

import com.github.peacetrue.core.OperatorCapableImpl;
import lombok.*;

#listImport($properties)
#setOperatorIdType($properties)


/**
 * @author xiayx
 */
@Getter
@Setter
@ToString
@NoArgsConstructor
@AllArgsConstructor
public class ${ModuleName}Modify extends OperatorCapableImpl<$operatorIdType> {

    private static final long serialVersionUID = 0L;

    #listPropertiesOutAudit($properties)

}
