package ${basePackageName};

import com.github.peacetrue.beans.operator.OperatorImpl;
import lombok.*;

import javax.validation.constraints.NotNull;
import javax.validation.constraints.Size;
import javax.validation.constraints.Min;

#listImport($properties)

/**
 * @author peace
 */
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@ToString(callSuper = true)
public class ${ModuleName}Add extends OperatorImpl<$creatorId.type.simpleName> {

    #foreach($property in $nonIdAuditProperties)
        /** $property.comment */
        #if(!$property.nullable)@NotNull#end
        #if($property.type.simpleName=='String')@Size(min = 1, max = $property.size)#end
        #if($property.type.superclass.simpleName=='Number')@Min(1)#end
        private $property.type.simpleName $property.name;
    #end

}
