package ${basePackageName};

import com.github.peacetrue.beans.properties.creatorid.CreatorId;
import com.github.peacetrue.beans.operator.OperatorImpl;
import com.github.peacetrue.range.LocalDateTimeRange;
import lombok.*;

import java.io.Serializable;

#listImport($properties)

/**
 * @author peace
 */
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@ToString(callSuper = true)
public class ${ModuleName}Query extends OperatorImpl<$creatorId.type.simpleName> implements CreatorId<$creatorId.type.simpleName> {

    public static final ${ModuleName}Query DEFAULT = new ${ModuleName}Query();

    /** $id.comment */
    private $id.type.simpleName [] $id.name;
    #listQuery($nonIdProperties)

    public ${ModuleName}Query(${id.type.simpleName}[] ${id.name}) {
        this.${id.name} = ${id.name};
    }

}
