package ${basePackageName};

import com.github.peacetrue.core.CreatorId;
import com.github.peacetrue.core.OperatorImpl;
import com.github.peacetrue.core.Range;
import lombok.*;

import java.io.Serializable;

#listImport($properties)



/**
 * @author peace
 */
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@ToString(callSuper = true)
public class ${ModuleName}Query extends OperatorImpl<$creatorId.type.simpleName> implements CreatorId<$creatorId.type.simpleName> {

    public static final ${ModuleName}Query DEFAULT = new ${ModuleName}Query();

    private static final long serialVersionUID = 0L;

    /** $id.comment */
    private $id.type.simpleName [] $id.name;
    #listQuery($nonIdProperties)

    public ${ModuleName}Query(${id.type.simpleName}[] ${id.name}) {
        this.${id.name} = ${id.name};
    }

}
