package ${basePackageName};

import com.github.peacetrue.core.OperatorCapableImpl;
import lombok.*;

import javax.validation.constraints.Min;
import javax.validation.constraints.NotNull;

/**
 * @author xiayx
 */
@Getter
@Setter
@ToString
@NoArgsConstructor
@AllArgsConstructor
public class ${ModuleName}Delete extends OperatorCapableImpl<$creatorId.type.simpleName> {

    private static final long serialVersionUID = 0L;

    @NotNull
    @Min(1)
    private ${id.type.simpleName} ${id.name};

}
