package ${basePackageName};

import com.github.peacetrue.beans.properties.creatorid.CreatorId;
import com.github.peacetrue.beans.properties.id.Id;
import com.github.peacetrue.beans.operator.OperatorImpl;
import lombok.*;

import javax.validation.constraints.Min;
import javax.validation.constraints.NotNull;

/**
 * @author peace
 */
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@ToString(callSuper = true)
public class ${ModuleName}Get extends OperatorImpl<$creatorId.type.simpleName> implements Id<$id.type.simpleName>, CreatorId<$creatorId.type.simpleName> {

    @NotNull
    @Min(1)
    private ${id.type.simpleName} ${id.name};
    @Min(1)
    private $creatorId.type.simpleName ${creatorId.name};

    public ${ModuleName}Get($id.type.simpleName id) {
        this.id = id;
    }

}
