package ${basePackageName};

import lombok.Data;

import java.io.Serializable;
import java.util.Date;

#listImport($properties)
/**
 * @author xiayx
 */
@Getter
@Setter
@ToString
public class ${ModuleName}VO implements Serializable {

    private static final long serialVersionUID = 0L;

    #listProperties($properties)
}
