server:
  port: 8080

db:
  hostname: localhost
  username: root
  password: 12345678
  schema: common

spring:
  application:
    name: ${project-name}
  r2dbc:
    url: r2dbcs:mysql://${db.hostname}:3306/${db.schema}?autoreconnect=true&useUnicode=true&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true&sslMode=DISABLED
    username: ${db.username}
    password: ${db.password}
    pool:
      enabled: true
      initial-size: 5
      max-size: 5
      max-idle-time: 10m
  #      validation-query: ping
  #    properties:
  #      connectTimeout: 1m
  flyway:
    url: jdbc:mysql://${db.hostname}:3306/${db.schema}
    user: ${spring.r2dbc.username}
    password: ${spring.r2dbc.password}
    baseline-on-migrate: true
    validate-on-migrate: false
  main:
    allow-bean-definition-overriding: true
  session:
    timeout: 36000

management:
  endpoints:
    web:
      exposure:
        include: "*"
      cors:
        allowed-origins: "*"
        allowed-methods: "*"
logging:
  level:
    com.github.peacetrue: debug
  file:
    max-history: 2
