description '${domainDescription}服务接口'

dependencies {
    api "com.github.peacetrue:peacetrue-beans"
    api "org.springframework.data:spring-data-commons"
    api "javax.validation:validation-api"
}
