version: '2'

services:
  ${project-name}:
    container_name: ${project-name}
    build: ./
    image: ${project-name}:latest
    ports:
      - "9001:9001"
    networks:
      - peacetrue-microservice
    entrypoint: java -jar app.jar --eureka.client.serviceUrl.defaultZone=http://192.168.1.104:8700/eureka --server.port=9001 > /log/app.log
networks:
  peacetrue-microservice:
    external:
      name: peacetrue-microservice
# docker-compose up --build