version: '2'

services:
  ${project-name}-app:
    container_name: ${project-name}-app
    hostname: ${project-name}-app
    build: ${project-name}-app
    image: ${project-name}-app:latest
    privileged: true
    restart: always
    volumes:
      - ${peacetrue.generator.targetPath}/${project-name}-app/build/libs/${project-name}-app-1.0.0-SNAPSHOT.jar:/app.jar
      - ${peacetrue.generator.targetPath}/${project-name}-docker/${project-name}-app/libs/application-default.yml:/application-default.yml
    expose:
      - 8080
    ports:
      - "8080:8080"
    networks:
      - peacetrue-microservice
    entrypoint: java -jar app.jar
networks:
  peacetrue-microservice:
    external:
      name: peacetrue-microservice
# docker-compose up --build -d
