description '${domainDescription}控制器'

dependencies {
    api project(":${project-name}-service-api")
    implementation "com.github.peacetrue:peacetrue-spring"
    implementation "org.springframework.boot:spring-boot-starter-webflux"
    implementation "org.springframework.data:spring-data-commons"

    testImplementation 'org.springframework.boot:spring-boot-starter-test', {
        exclude group: 'com.vaadin.external.google', module: 'android-json'
    }
    testImplementation project(':${project-name}-service-impl')
    testImplementation(testFixtures(project(':${project-name}-service-impl')))
}
