package ${basePackageName};

import com.github.peacetrue.spring.util.BeanUtils;
import org.jeasy.random.EasyRandom;
import org.junit.jupiter.api.*;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.boot.test.context.SpringBootTest;
import org.springframework.data.domain.PageRequest;
import reactor.test.StepVerifier;

#setOperatorIdType($properties)
#setId($properties)

/**
 * @author : xiayx
 * @since : 2020-05-22 16:43
 **/
@SpringBootTest(classes = TestService${DomainName}AutoConfiguration.class)
@TestMethodOrder(MethodOrderer.OrderAnnotation.class)
class ${ModuleName}ServiceImplTest {

    public static final EasyRandom EASY_RANDOM = new EasyRandom();
    public static final ${ModuleName}Modify MODIFY = EASY_RANDOM.nextObject(${ModuleName}Modify.class);
    public static final ${ModuleName}Add ADD = EASY_RANDOM.nextObject(${ModuleName}Add.class);
    public static ${ModuleName}VO vo;

    static {
        ADD.setOperatorId(EASY_RANDOM.nextObject(${operatorIdType}.class));
        MODIFY.setOperatorId(EASY_RANDOM.nextObject(${operatorIdType}.class));
    }

    @Autowired
    private ${ModuleName}ServiceImpl service;

    @Test
    @Order(10)
    void add() {
        service.add(ADD)
                .as(StepVerifier::create)
                .assertNext(data -> {
                    Assertions.assertEquals(data.getCreatorId(), ADD.getOperatorId());
                    vo = data;
                })
                .verifyComplete();
    }

    @Test
    @Order(20)
    void queryForPage() {
        ${ModuleName}Query params = BeanUtils.map(vo, ${ModuleName}Query.class);
        service.query(params, PageRequest.of(0, 10))
                .as(StepVerifier::create)
                .assertNext(page -> Assertions.assertEquals(1, page.getTotalElements()))
                .verifyComplete();
    }

    @Test
    @Order(30)
    void queryForList() {
        ${ModuleName}Query params = BeanUtils.map(vo, ${ModuleName}Query.class);
        service.query(params)
                .as(StepVerifier::create)
                .expectNextCount(1)
                .verifyComplete();
    }

    @Test
    @Order(40)
    void get() {
        ${ModuleName}Get params = BeanUtils.map(vo, ${ModuleName}Get.class);
        service.get(params)
                .as(StepVerifier::create)
                .assertNext(item -> Assertions.assertEquals(vo.getId(), item.getId()))
                .verifyComplete();
    }

    @Test
    @Order(50)
    void modify() {
        ${ModuleName}Modify params = MODIFY;
        params.setId(vo.getId());
        service.modify(params)
                .as(StepVerifier::create)
                .expectNext(1)
                .verifyComplete();
    }

    @Test
    @Order(60)
    void delete() {
        ${ModuleName}Delete params = new ${ModuleName}Delete(vo.getId());
        service.delete(params)
                .as(StepVerifier::create)
                .expectNext(1)
                .verifyComplete();
    }
}
