configurations {
    testArtifacts.extendsFrom testRuntime, testImplementation
}

task testJar(type: Jar) {
    archiveClassifier = 'test'
    from sourceSets.test.output
}

artifacts {
    testArtifacts testJar
}

description '${domainDescription}服务实现'

dependencies {

    api project(":${project-name}-service-api")
    api "org.slf4j:slf4j-api"
    implementation "com.github.peacetrue.spring:peacetrue-spring-beans"
    implementation "com.github.peacetrue.spring:peacetrue-spring-data"
    implementation "org.springframework.boot:spring-boot-starter-data-jpa"
    implementation "org.springframework.boot:spring-boot-autoconfigure"
    compileOnly "org.springframework.boot:spring-boot-configuration-processor"
    annotationProcessor "org.springframework.boot:spring-boot-configuration-processor"

    testImplementation "com.h2database:h2"
    testImplementation "org.flywaydb:flyway-core"
}
