eureka:
  instance:
    hostname: localhost
  client:
    serviceUrl:
      defaultZone: http://localhost:8700/eureka

spring:
    application:
        name: ${project-name}-app-admin
    cloud:
        config:
            label: master
            discovery:
                enabled: true
                serviceId: peacetrue-microservice-config-center