package ${basePackageName};

import com.github.peacetrue.spring.core.io.support.YamlPropertySourceFactory;
import org.springframework.boot.context.properties.EnableConfigurationProperties;
import org.springframework.context.annotation.ComponentScan;
import org.springframework.context.annotation.Configuration;
import org.springframework.context.annotation.PropertySource;

/**
 * @author peace
 */
@Configuration
@EnableConfigurationProperties(Controller${DomainName}Properties.class)
@ComponentScan(basePackageClasses = Controller${DomainName}AutoConfiguration.class)
@PropertySource("classpath:/application-${domain-name}-controller.yml", factory = YamlPropertySourceFactory.class)
public class Controller${DomainName}AutoConfiguration {

}

