package ${basePackageName};

import lombok.Getter;
import lombok.Setter;
import org.springframework.boot.context.properties.ConfigurationProperties;

/**
 * @author peace
 */
@Getter
@Setter
@ConfigurationProperties(prefix = "peacetrue.modules.${domain-name}")
public class Service${DomainName}Properties {

}
