package ${basePackageName};

import com.github.peacetrue.spring.core.io.support.YamlPropertySourceFactory;
import org.springframework.boot.context.properties.EnableConfigurationProperties;
import org.springframework.context.annotation.ComponentScan;
import org.springframework.context.annotation.Configuration;
import org.springframework.context.annotation.PropertySource;

import java.util.Objects;

/**
 * @author peace
 */
@Configuration
@EnableConfigurationProperties(Service${DomainName}Properties.class)
@ComponentScan(basePackageClasses = Service${DomainName}AutoConfiguration.class)
@PropertySource(value = "classpath:/application-${domain-name}-service.yml", factory = YamlPropertySourceFactory.class)
public class Service${DomainName}AutoConfiguration {

    private Service${DomainName}Properties properties;

    public Service${DomainName}AutoConfiguration(Service${DomainName}Properties properties) {
        this.properties = Objects.requireNonNull(properties);
    }

}
