package ${basePackageName};

import lombok.Data;
import org.springframework.boot.context.properties.ConfigurationProperties;

/**
 * @author peace
 */
@Data
@ConfigurationProperties(prefix = "peacetrue.${domain-name}")
public class Service${DomainName}Properties {

}
