package ${basePackageName};

import org.apache.ibatis.annotations.*;
import org.apache.ibatis.type.JdbcType;
import org.mybatis.dynamic.sql.SqlBuilder;
import org.mybatis.dynamic.sql.SqlColumn;
import org.mybatis.dynamic.sql.delete.DeleteDSL;
import org.mybatis.dynamic.sql.delete.MyBatis3DeleteModelAdapter;
import org.mybatis.dynamic.sql.delete.render.DeleteStatementProvider;
import org.mybatis.dynamic.sql.insert.render.InsertStatementProvider;
import org.mybatis.dynamic.sql.render.RenderingStrategy;
import org.mybatis.dynamic.sql.select.MyBatis3SelectModelAdapter;
import org.mybatis.dynamic.sql.select.QueryExpressionDSL;
import org.mybatis.dynamic.sql.select.SelectDSL;
import org.mybatis.dynamic.sql.select.render.SelectStatementProvider;
import org.mybatis.dynamic.sql.update.MyBatis3UpdateModelAdapter;
import org.mybatis.dynamic.sql.update.UpdateDSL;
import org.mybatis.dynamic.sql.update.render.UpdateStatementProvider;
import org.mybatis.dynamic.sql.util.SqlProviderAdapter;

import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.Collection;
import java.util.LinkedList;
import java.util.List;

import static ${basePackageName}.${ModuleName}DynamicSqlSupport.*;
import static org.mybatis.dynamic.sql.SqlBuilder.isEqualTo;
import static org.mybatis.dynamic.sql.SqlBuilder.isIn;
#setId($properties)

@Mapper
public interface ${ModuleName}Mapper {
    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    @SelectProvider(type = SqlProviderAdapter.class, method = "select")
    long count(SelectStatementProvider selectStatement);

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    @DeleteProvider(type = SqlProviderAdapter.class, method = "delete")
    int delete(DeleteStatementProvider deleteStatement);

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    @InsertProvider(type = SqlProviderAdapter.class, method = "insert")
    @Options(useGeneratedKeys = true, keyProperty = "record.id")
    int insert(InsertStatementProvider<${ModuleName}> insertStatement);

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    @SelectProvider(type = SqlProviderAdapter.class, method = "select")
    @ResultMap("${ModuleName}Result")
     ${ModuleName} selectOne(SelectStatementProvider selectStatement);

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    @SelectProvider(type = SqlProviderAdapter.class, method = "select")
    @Results(id = "${ModuleName}Result", value = {
        #foreach($property in $properties)
            #if($property.name=='id')
                @Result(column = "$uc.lu($property.name)", property = "$property.name", jdbcType = $javaTypeToJdbcType[$property.type.name], id = true),
            #else
                @Result(column = "$uc.lu($property.name)", property = "$property.name", jdbcType = $javaTypeToJdbcType[$property.type.name]),
            #end
        #end
    })
     List<${ModuleName}> selectMany(SelectStatementProvider selectStatement);

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    @UpdateProvider(type = SqlProviderAdapter.class, method = "update")
    int update(UpdateStatementProvider updateStatement);

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    default QueryExpressionDSL<MyBatis3SelectModelAdapter<Long>> countByExample() {
        return SelectDSL.selectWithMapper(this::count, SqlBuilder.count())
                .from($uc.lc(${ModuleName}));
    }

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    default DeleteDSL<MyBatis3DeleteModelAdapter<Integer>> deleteByExample() {
        return DeleteDSL.deleteFromWithMapper(this::delete, $uc.lc(${ModuleName}));
    }

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    default int deleteByPrimaryKey($id.type.simpleName id_) {
        return DeleteDSL.deleteFromWithMapper(this::delete, $uc.lc(${ModuleName}))
                .where(id, isEqualTo(id_))
                .build()
                .execute();
    }

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    default int deleteInPrimaryKey(Collection<$id.type.simpleName> id_) {
        return DeleteDSL.deleteFromWithMapper(this::delete, $uc.lc(${ModuleName}))
                .where(id, isIn(id_ instanceof List ? (List<$id.type.simpleName>) id_ : new LinkedList<$id.type.simpleName>(id_)))
                .build()
                .execute();
    }

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    default int insert(${ModuleName} record) {
        return insert(SqlBuilder.insert(record)
                .into($uc.lc(${ModuleName}))
                #foreach($property in $properties)
                .map($property.name).toProperty("$property.name")
                #end
                .build()
                .render(RenderingStrategy.MYBATIS3));
    }

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    default int insertSelective(${ModuleName} record) {
        return insert(SqlBuilder.insert(record)
                .into($uc.lc(${ModuleName}))
                #foreach($property in $properties)
                .map($property.name).toPropertyWhenPresent("$property.name", record::get$lc.uc(${property.name}))
                #end
                .build()
                .render(RenderingStrategy.MYBATIS3));
    }

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    default  QueryExpressionDSL<MyBatis3SelectModelAdapter<List<${ModuleName}>>> selectByExample() {
        return SelectDSL.selectWithMapper(this::selectMany, ${uc.lc(${ModuleName})}.column("*"))
                .from($uc.lc(${ModuleName}));
    }

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    default  QueryExpressionDSL<MyBatis3SelectModelAdapter<List<${ModuleName}>>> selectDistinctByExample() {
        return SelectDSL.selectDistinctWithMapper(this::selectMany, ${uc.lc(${ModuleName})}.column("*"))
                .from($uc.lc(${ModuleName}));
    }

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    default ${ModuleName} selectByPrimaryKey($id.type.simpleName id_) {
        return SelectDSL.selectWithMapper(this::selectOne, ${uc.lc(${ModuleName})}.column("*"))
                .from($uc.lc(${ModuleName}))
                .where(id, isEqualTo(id_))
                .build()
                .execute();
    }

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    default UpdateDSL<MyBatis3UpdateModelAdapter<Integer>> updateByExample(${ModuleName} record) {
        return UpdateDSL.updateWithMapper(this::update, $uc.lc(${ModuleName}))
                #foreach($property in $properties)
                .set($property.name).equalTo(record::get$lc.uc(${property.name}))
                #end
                ;
    }

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    default UpdateDSL<MyBatis3UpdateModelAdapter<Integer>> updateByExampleSelective(${ModuleName} record) {
        return UpdateDSL.updateWithMapper(this::update, $uc.lc(${ModuleName}))
                #foreach($property in $properties)
                .set($property.name).equalToWhenPresent(record::get$lc.uc(${property.name}))
                #end
                ;
    }

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    default int updateByPrimaryKey(${ModuleName} record) {
        return UpdateDSL.updateWithMapper(this::update, $uc.lc(${ModuleName}))
                #foreach($property in $properties)
                .set($property.name).equalTo(record::get$lc.uc(${property.name}))
                #end
                .where(id, isEqualTo(record::getId))
                .build()
                .execute();
    }

    @Generated("org.mybatis.generator.api.MyBatisGenerator")
    default int updateByPrimaryKeySelective(${ModuleName} record) {
        return UpdateDSL.updateWithMapper(this::update, $uc.lc(${ModuleName}))
                #foreach($property in $properties)
                .set($property.name).equalToWhenPresent(record::get$lc.uc(${property.name}))
                #end
                .where(id, isEqualTo(record::getId))
                .build()
                .execute();
    }


    //append
    @SuppressWarnings("unchecked")
    default  List<${ModuleName}> selectById(Collection<$id.type.simpleName> ids) {
        return this.selectByExample().where(${uc.lc(${ModuleName})}.id, SqlBuilder.isIn(new ArrayList<>(ids))).build().execute();
    }

}