package ${basePackageName};

import com.github.peacetrue.core.CreateModify;
import lombok.*;
import org.springframework.data.annotation.Id;

import java.io.Serializable;
import java.time.LocalDateTime;

#listImport($properties)

/**
 * ${nationalName}实体类
 *
 * @author peace
 */
@Getter
@Setter
@ToString
@NoArgsConstructor
@AllArgsConstructor
public class ${ModuleName} implements Serializable, com.github.peacetrue.core.Id<$id.type.simpleName>, CreateModify<Long> {

    private static final long serialVersionUID = 0L;

    /** $id.comment */
    @Id
    private $id.type.simpleName $id.name;
    #listProperties($nonIdProperties)

}
