package ${basePackageName};

import lombok.*;

import com.github.peacetrue.core.IdCapable;
import org.springframework.data.annotation.Id;
import java.io.Serializable;
import java.util.Date;
import java.time.LocalDateTime;


#listImport($properties)

/**
 * ${nationalName}实体类
 *
 * @author xiayx
 */
@Getter
@Setter
@ToString
@NoArgsConstructor
@AllArgsConstructor
public class ${ModuleName} implements Serializable, IdCapable<$id.type.simpleName> {

    private static final long serialVersionUID = 0L;

    /** $id.comment */
    @Id
    private $id.type.simpleName $id.name;
    #listProperties($nonIdProperties)

}
