package ${basePackageName}.modules.${modulename};;

import org.mybatis.dynamic.sql.SqlColumn;
import org.mybatis.dynamic.sql.SqlTable;

import javax.annotation.Generated;
import java.sql.JDBCType;
import java.util.Date;

#listImport($properties)

public final class ${ModuleName}DynamicSqlSupport {

    public static final ${ModuleName} ${uc.lc(${ModuleName})} = new ${ModuleName}();

    #foreach($property in $properties)
    public static final SqlColumn<$property.type.simpleName> $property.name = $uc.lc(${ModuleName}).$property.name;
    #end

    public static final class ${ModuleName} extends SqlTable {
        #foreach($property in $properties)
            public final SqlColumn<$property.type.simpleName> $property.name = column("${lc.lu($property.name)}", $javaTypeToJDBCType[$property.type.name]);
        #end

        public ${ModuleName}() {
            super("`$uc.lu(${ModuleName})`");
        }
    }
}