description '${domainDescription}客户端'

dependencies {
    api project(":${project-name}-service-api")
    api 'org.springframework.data:spring-data-commons'
    api 'org.springframework.cloud:spring-cloud-starter-openfeign'
}
