description '${domainDescription}客户端'

dependencies {
    api project(":${project-name}-service-api")
    api 'org.springframework.data:spring-data-commons'
    api 'com.playtika.reactivefeign:feign-reactor-spring-configuration'
}
