package ${basePackageName};

import org.springframework.boot.autoconfigure.ImportAutoConfiguration;
import org.springframework.boot.autoconfigure.data.web.SpringDataWebAutoConfiguration;
import org.springframework.boot.autoconfigure.http.HttpMessageConvertersAutoConfiguration;
import org.springframework.boot.autoconfigure.jackson.JacksonAutoConfiguration;
import org.springframework.boot.autoconfigure.web.servlet.WebMvcAutoConfiguration;
import org.springframework.context.annotation.Configuration;

/**
 * @author peace
 */
@Configuration
@ImportAutoConfiguration(classes = {
        TestService${DomainName}AutoConfiguration.class,
        Controller${DomainName}AutoConfiguration.class,
        WebMvcAutoConfiguration.class,
        HttpMessageConvertersAutoConfiguration.class,
        SpringDataWebAutoConfiguration.class,//支持 Pageable / Sort
        JacksonAutoConfiguration.class
})
public class TestController${DomainName}AutoConfiguration {


}
