// in src/App.js
import React from 'react';
import {Admin, fetchUtils, Resource} from 'react-admin';
import {${DomainName}List} from './modules/${domainName}s/list';
import {${DomainName}Create} from './modules/${domainName}s/create';
import {${DomainName}Edit} from './modules/${domainName}s/edit';
import {${DomainName}Show} from './modules/${domainName}s/show';
import polyglotI18nProvider from 'ra-i18n-polyglot';
import chineseMessages from 'ra-language-chinese';
import {springDataProvider, springHttpClient} from 'ra-data-spring-rest';

const i18nProvider = polyglotI18nProvider($esc.javascript('()=> chineseMessages') , 'cn');

let httpClient = springHttpClient((url, options = {}) $esc.javascript('=>') {
    options.credentials = 'include';
    return fetchUtils.fetchJson(url, options)
        .then(response $esc.javascript('=>') {
            let {json} = response;
            if (json.code && json.message) {
                if (json.code !== 'success') {
                    let error = new Error(json.message);
                    error.status = 500;
                    throw error;
                }
                response.json = json.data;
            }
            return response;
        });
});

const dataProvider = springDataProvider('http://localhost:8080', httpClient);
const App = () $esc.javascript('=>') (
    <Admin i18nProvider={i18nProvider} dataProvider={dataProvider}>
        <Resource options={{label: '$domainDescription'}} name="${domainName}s"
                  list={${DomainName}List} create={${DomainName}Create}
                  edit={${DomainName}Edit} show={${DomainName}Show}/>
    </Admin>
);

export default App;