import React from 'react';
import {Create, required, SimpleForm, DateTimeInput, TextInput,} from 'react-admin';

export const ${ModuleName}Create = (props) $esc.javascript('=>') {
    console.info('${ModuleName}Create:', props);
    return (
        <Create {...props} title={`新建$esc.d{props.options.label}`}>
            <SimpleForm>
                #foreach($property in $nonIdAuditProperties)
                    #if($property.type.name == 'java.util.Date'||$property.type.name == 'java.time.LocalDateTime')
                        <DateTimeInput label={'$property.nationalName'} source="$property.name" showTime validate={[#ternaryOperateFalse($property.nullable,'required(),')]}/>
                    #else
                        <TextInput label={'$property.nationalName'} source="$property.name" validate={[#ternaryOperateFalse($property.nullable,'required(),')]}/>
                    #end
                #end
            </SimpleForm>
        </Create>
    );
};
