import React from 'react';
import {Create, required, SimpleForm, DateTimeInput, TextInput,NumberInput,minValue,maxLength} from 'react-admin';

export const ${ModuleName}Create = (props) $esc.javascript('=>') {
    console.info('${ModuleName}Create:', props);
    return (
        <Create {...props}>
            <SimpleForm>
                #foreach($property in $nonIdAuditProperties)
                    #if($property.type.name == 'java.util.Date'||$property.type.name == 'java.time.LocalDateTime')
                        <DateTimeInput source="$property.name" showTime validate={[#ternaryOperateFalse($property.nullable,'required(),')]}/>
                    #elseif($property.type.name == 'java.lang.Long'||$property.type.name == 'java.lang.Integer')
                        <NumberInput source="$property.name" validate={[#ternaryOperateFalse($property.nullable,'required(),')minValue(0)]} min={0}/>
                    #else
                        <TextInput source="$property.name" validate={[#ternaryOperateFalse($property.nullable,'required(),')maxLength($property.size)]}/>
                    #end
                #end
            </SimpleForm>
        </Create>
    );
};
