import React from 'react';
import {Edit, required, SimpleForm, NumberInput,TextInput, DateTimeInput,minValue,maxLength} from 'react-admin';

export const ${ModuleName}Edit = (props) $esc.javascript('=>') {
    console.info('${ModuleName}Edit:', props);
    return (
        <Edit {...props} undoable={false}>
            <SimpleForm>
                #foreach($property in $nonIdAuditProperties)
                    #if($property.type.name == 'java.util.Date'||$property.type.name == 'java.time.LocalDateTime')
                        <DateTimeInput  source="$property.name" validate={[#ternaryOperateFalse($property.nullable,'required(),')]}/>
                    #elseif($property.type.name == 'java.lang.Long'||$property.type.name == 'java.lang.Integer')
                        <NumberInput  source="$property.name" validate={[#ternaryOperateFalse($property.nullable,'required(),')minValue(0)]} min={0}/>
                    #else
                        <TextInput  source="$property.name" validate={[#ternaryOperateFalse($property.nullable,'required(),')maxLength($property.size)]}/>
                    #end
                #end
            </SimpleForm>
        </Edit>
    );
};
