import React from "react";
import {Resource} from "react-admin";

import {${ModuleName}List} from './list';
import {${ModuleName}Create} from './create';
import {${ModuleName}Edit} from './edit';
import {${ModuleName}Show} from './show';

export const ${ModuleName} = {list: ${ModuleName}List, create: ${ModuleName}Create, edit: ${ModuleName}Edit, show: ${ModuleName}Show};
const ${ModuleName}Resource = <Resource name="${module-name}s" {...${ModuleName}} />;
export default ${ModuleName}Resource;
