import React from 'react';
import {Datagrid, DateInput, DateField, EditButton, Filter, List, TextField, TextInput} from 'react-admin';

const Filters = (props) $esc.javascript('=>') (
    <Filter {...props}>
        #foreach($property in $nonIdProperties)
            #if($property.type.name == 'java.lang.String')
                <TextInput label={'${property.nationalName}'} source="${property.name}" allowEmpty alwaysOn resetable />
            #elseif($property.type.name == 'java.util.Date'||$property.type.name == 'java.time.LocalDateTime')
                <DateInput label={'${property.nationalName}起始值'} source="${property.name}.lowerBound" allowEmpty alwaysOn/>
                <DateInput label={'${property.nationalName}结束值'} source="${property.name}.upperBound" allowEmpty alwaysOn/>
            #end
        #end
    </Filter>
);

export const ${ModuleName}List = props $esc.javascript('=>') {
    console.info('${ModuleName}List:', props);
    return (
        <List {...props} filters={<Filters/>} >
            <Datagrid rowClick="show">
                #foreach($property in $nonIdProperties)
                    #if($property.type.name == 'java.util.Date'||$property.type.name == 'java.time.LocalDateTime')
                        <DateField label={'${property.nationalName}'} source="${property.name}" showTime/>
                    #else
                        <TextField label={'${property.nationalName}'} source="${property.name}"/>
                    #end
                #end
                <EditButton/>
            </Datagrid>
        </List>
    )
};
