{
  "name": "${project-name}",
  "version": "0.1.0",
  "description": "${domainDescription}",
  "files": [
    "src/modules"
  ],
  "repository": {
    "type": "git",
    "url": "git+https://github.com/peacetrue/${project-name}.git"
  }
}
