{
  "name": "${project-name}",
  "version": "0.1.0",
  "description": "${domainDescription}",
  "main": "src/index.js",
  "files": [
    "src"
  ],
  "dependencies": {
    "react": "^16.13.1",
    "react-dom": "^16.13.1",
    "react-admin": "^3.14.0"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/peacetrue/${project-name}.git"
  }
}
