plugins {
    id "org.springframework.boot" version "2.2.5.RELEASE"
}

description '${domainDescription}样章'

dependencies {
    implementation 'com.github.peacetrue:peacetrue-spring'
    implementation project(":${project-name}-controller")
    implementation project(":${project-name}-service-mybatis")
    implementation 'com.github.peacetrue:peacetrue-result-web'
    implementation 'com.github.peacetrue:peacetrue-result-exception-support'
    implementation 'org.springframework.boot:spring-boot-starter-web'
    implementation 'org.springframework.boot:spring-boot-starter-actuator'
    implementation 'org.springframework.boot:spring-boot-starter-logging'
    implementation 'mysql:mysql-connector-java:5.1.46'
}
