= ${domainDescription}
peacetrue <xiayouxue@hotmail.com>
v1.0, 2021-01-01: SNAPSHOT
:doctype: docbook
:toc: left
:numbered:
:imagesdir: docs/assets/images
:sourcedir: src/main/java
:resourcesdir: src/main/resources
:testsourcedir: src/test/java
:source-highlighter: highlightjs

详情参考 https://peacetrue.cn/summarize/${project-name}/index.html[安宁的博客^]。
