rootProject.name = "${project-name}"
include("${project-name}-service-api")
include("${project-name}-service-impl")
include("${project-name}-controller")
include("${project-name}-app")
##include("${project-name}-micro-app")
##include("${project-name}-client")
